.about-box
{
               background-color: #f1f2fa;
}

.about-box h3
{
               font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;       
               font-size: 18px;
               font-weight: 600;
}

.about-box p
{
               padding: 0 20px;
               color: gray;
               font-size: 13px;
}