.footer
{
               color: black;
               background: #f1f2fa;
               background-position: center;
               background-size: cover;
               padding: 50px 0 10px 0;
}

.footer-container
{
               display: flex;
               align-items: center;
               justify-content: center;
}

.footer-parent
{
               display: flex;
               color: black;
               width: 70%;
               align-items: flex-start;
               flex-wrap: wrap;
               justify-content: space-between;
               border-bottom: 2px solid white;
               padding-bottom: 20px;
}

.footer-address p
{
      margin-bottom: 30px;        
      color: black;
      font-size: 18px;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      display: flex;
      align-items: center;
      justify-content: flex-start;
}

.footer-address img
{
               width: 8%;
               margin-right: 20px;
}

.footer-parent h2
{
               font-size: 35px;
               font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
               margin: 30px 0;
}

.allrights
{
               display: flex;
               align-items: center;
               justify-content: center;
               flex-wrap: wrap;
}

.rights
{
               padding: 40px 0 40px 0;
               width: 70%;
               display: flex;
               align-items: center;
               justify-content: space-between;
               flex-wrap: wrap;
               font-family: 'Roboto Condensed', sans-serif;
               color: gray;
}

.rights h4
{
               font-weight: 200;
}

.rights span
{
               color: black;
}

.socials
{
               display: flex;
}

.socials span
{
               margin-left: 35px;
}

.subscribe
{
               width: 30%;
               align-items: center;
}

.sub
{
      display: flex;
      align-items: center;
}


.subscribe input
{
               width: 100%;
               height: 60px;
               padding: 0 20px;
               border: none;
               outline: none;
               background: white;
               border-radius: 50px;
               text-align: center;
}

.subscribe button
{
               width: 100%;
               height: 50px;
               padding: 0 20px;
               margin-top: 10px;
               border: none;
               outline: none;
               border-radius: 50px;
               background-color: #8169f1;
               border: 2px solid #8169f1;
               color: white;
               font-weight: 700;
}

.subscribe button:hover
{
   border: 2px solid #8169f1;
   background-color: transparent;
   transition: 2s ease-in-out;
   color: black;
   animation: btn 2s;
}


.subscribe p
{
               text-align: center;
               color: rgb(177, 176, 176);
               font-size: 14px;
               margin-top: 20px;
               font-family: 'Roboto Condensed', sans-serif;
}

@media screen and (max-width: 900px) {
               .footer-parent
               {
                              display: flex;
                              color: black;
                              width: 70%;
                              align-items: flex-start;
                              flex-wrap: wrap;
                              justify-content: center;
                              border-bottom: 2px solid white;
                              padding-bottom: 20px;
               }

               .footer-parent h2
               {
                              font-size: 25px;
                              font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                              margin: 30px 0;
               }

               .footer-address 
               {
                              width: 100%;
                              text-align: center;
               }


               .footer-address p
               {
                              margin-bottom: 30px;        
                              color: black;
                              font-size: 18px;
                              font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                              display: flex;
                              align-items: center;
                              justify-content: center;
               }

                              .subscribe
               {
                              width: 100%;
                              align-items: center;
               }

               .copyrights
               {
                              font-size: 11px;
                              margin-bottom: 20px;
               }

               .socials span
               {
                              margin: 0px 20px;
               }

               .rights
               {
                              padding: 40px 0 40px 0;
                              width: 70%;
                              display: flex;
                              align-items: center;
                              justify-content: center;
                              flex-wrap: wrap;
                              font-family: 'Roboto Condensed', sans-serif;
                              color: gray;
               }
}