.service
{
               overflow: hidden;
               padding-top: 30px;
}

.service-container
{
               display: flex;
               align-items: center;
               justify-content: center;
}

.carousel
{
               overflow-x: scroll;
               cursor: grab;
               width: 80%;
}

.carousel::-webkit-scrollbar
{
               width: 0;
}

.service-parent
{
               display: flex;
               align-items: center;
}

.box
{
               text-align: center;
               background-color: #f1f2fa;
               padding: 40px 0;
               min-width: 20rem;
               border-radius: 30px;
               margin: 20px;
}

.box h3
{
               font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;       
               font-size: 18px;
               font-weight: 600;
}

.box p
{
               padding: 0 20px;
               color: gray;
               font-size: 13px;
}

@media screen and (max-width: 800px) 
{
               .service
               {
                              overflow: hidden;
                              padding-top: 0px;
               }

               .carousel
               {
                              overflow-x: scroll;
                              cursor: grab;
                              width: 90%;
               }

               .box
               {
                              text-align: center;
                              background-color: #f1f2fa;
                              padding: 40px 0;
                              min-width: 18rem;
                              border-radius: 30px;
                              margin: 20px;
               }
}